#chat {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #060f37 !important;
  margin-top: 30px;
}
.contentBox2 {
  position: absolute !important;
  right: 0 !important;
  border: 0 !important;
  border-bottom: 1px solid #060f37 !important;
}
.css-gtporz-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-ahj2mt-MuiTypography-root,
.css-1x51dt5-MuiInputBase-input-MuiInput-input,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: #060f37 !important;
}

.main {
  padding: 0 !important;
}
.css-1jmjcem {
  padding: 0 !important;
}

.css-49ifcl-MuiPaper-root-MuiAppBar-root {
  position: relative !important;
  width: 100%;
}
.css-yypv7-MuiPaper-root-MuiAppBar-root {
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  width: 100%;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  left: auto !important;
  position: relative !important;
}
.css-yypv7-MuiPaper-root-MuiAppBar-root {
  width: 100% !important;
}
.css-uqwprf-MuiGrid-root {
  height: 500px !important;
  width: auto !important;
}
.messages {
  width: 100% !important;
  border-bottom: 1px solid #060f37 !important;
}

.textField {
  position: relative !important;
  justify-content: flex-end !important;
  bottom: 0 !important;
}

.css-1633um2-MuiPaper-root {
  text-align: left !important;
  max-width: 200px;
  min-width: 100px;
  background-color: #d5a0f3 !important;
  margin: 6px 6px 6px 6px !important;
  overflow: visible;
}

.main {
  overflow-y: auto !important;
}

.appBar {
  background-color: white !important;
  border-bottom: 2px solid #060f37;
}
.divider {
  border-bottom: 2px solid #060f37 !important;
}

.list {
  height: 465px !important;
  overflow: auto !important;
}
