.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white !important;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: 060F37;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header1 {
  background-color: white !important;
  color: #060f37 !important;
}
.buttons {
  color: #060f37 !important;
}

.cardGrid {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  grid-gap: 2%;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  margin-top: 5%;
  width: 100%;
  margin-top: 0%;
  padding: auto;
  height: fit-content;
  margin-bottom: 5%;
}

.welcome {
  grid-column: 1 / span 2;
  width: 100%;
  background-image: url("background4.jpg");
}

#welcomeTo {
  font-weight: bold !important;
  font-size: 3em;
  margin-bottom: 1%;
  color: #060f37 !important;
}

.title {
  grid-column: 1 / span 2;
  color: #060f37 !important;
  background-color: #d5a0f3 !important;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
  margin-top: 0%;
  width: 100%;
  font-size: 1.5em;
}

.firstCard {
  justify-self: flex-end !important;
}

.secondCard {
  justify-self: flex-start !important;
}
.css-fjql9l-MuiPaper-root-MuiCard-root {
  height: fit-content;
}
